<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/first-section.css">
    <script src="https://kit.fontawesome.com/25b41d6433.js" crossorigin="anonymous"></script>
    <title>예쁜템들 모여사는 오늘의집</title>
    <link rel="icon" href="./images/icon.png" type="image/icon type">
</head>

<body>
    <header>
        <div class="header">
            <!--헤더 네비 위쪽 부분-->
            <div class="header-logo">
                <img src="./images/logo.png" alt="">
            </div>
            <nav class="header-nav">
                <span class="nav-color">커뮤니티</span>
                <span>스토어</span>
                <span>인테리어시공</span>
            </nav>
            <div class="header-input">
                <input type="text" placeholder="오늘의집 통합검색">
            </div>
            <div class="header-content">
                <span><i class="fa-solid fa-cart-shopping cart"></i></span>
                <a class="remove-deco" href="#">로그인</a>
                <span> | </span>
                <a class="remove-deco" href="#">회원가입</a>
                <span> | </span>
                <a class="remove-deco" href="#">고객센터</a>
            </div>
            <nav class="toggle-nav">
                <a class="remove-deco" style="color: white;" href="#">글쓰기 v</a>
            </nav>
        </div>

        <!--헤더 네비 아래쪽 부분-->
        <div class="header bottom">
            <a class="remove-deco" style="color: #35c5f0; border-bottom:2px solid #35c5f0;" href="">홈</a>
            <a class="remove-deco" href="">팔로잉</a>
            <a class="remove-deco" href="">사진</a>
            <a class="remove-deco" href="">집들이</a>
            <a class="remove-deco" href="">노하우</a>
            <a class="remove-deco" href="">전문가집들이</a>
            <a class="remove-deco" href="">셀프가이드</a>
            <a class="remove-deco" href="">질문과답변</a>
            <a class="remove-deco" href="">이벤트</a>
        </div>
    </header>
    <section class="first-section">
        <div class="first-section-left first-section-content">
            <div class="first-section-title">
                감각적인 빈티지 소품으로 채워 넣기
                <p>pretty.kwon</p>
            </div>
            <button class="first-section-btn">보러가기</button>
        </div>
        <div class="first-section-right first-section-content">
            <div class="mySlides fade">
                <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/banners/home_banner/164959904585613030.png?gif=1&w=1024"
                    style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/banners/home_banner/164959935381088856.png?gif=1&w=1024"
                    style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/banners/home_banner/164007392450862954.png?gif=1&w=1024"
                    style="width:100%">
            </div>
            <div class="mySlides fade">
                <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/banners/home_banner/164481959638920407.png?gif=1&w=1024"
                    alt="" style="width: 100%;">
            </div>
            <div class="mySlides fade">
                <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/banners/home_banner/164959914962480991.png?gif=1&w=1024"
                    alt="" style="width: 100%;">
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            <br>
        </div>
    </section>
    <section class="first-section">
        <div class="first-section-menu">
            <div>
                <img src="https://image.ohou.se/image/resize/bucketplace-v2-development/uploads-shortcut-home_feed_shortcut_sets-164656912612393299.png/512/none"
                    alt="" width="100px" height="100px">
                <span>쇼핑하기</span>
            </div>
            <div>
                <img src="https://image.ohou.se/image/resize/bucketplace-v2-development/uploads-shortcut-home_feed_shortcut_sets-164656918534331578.png/512/none"
                    alt="" width="100px" height="100px">
                <span>빠른가구배송</span>
            </div>
            <div>
                <img src="https://image.ohou.se/image/resize/bucketplace-v2-development/uploads-shortcut-home_feed_shortcut_sets-164656922749115313.png/512/none"
                    alt="" width="100px" height="100px">
                <span>N평집들이</span>
            </div>
            <div>
                <img src="https://image.ohou.se/image/resize/bucketplace-v2-development/uploads-shortcut-home_feed_shortcut_sets-164656931221138469.png/512/none"
                    alt="" width="100px" height="100px">
                <span>공간별사진</span>
            </div>
            <div>
                <img src="https://image.ohou.se/image/resize/bucketplace-v2-development/uploads-shortcut-home_feed_shortcut_sets-164656944916711668.png/512/none"
                    alt="" width="100px" height="100px">
                <span>간편시공</span>
            </div>
            <div>
                <img src="https://image.ohou.se/image/resize/bucketplace-v2-development/uploads-shortcut-home_feed_shortcut_sets-164758529751094973.png/512/none"
                    alt="" width="100px" height="100px">
                <span>쉬운이사</span>
            </div>
            <div>
                <img src="https://image.ohou.se/image/resize/bucketplace-v2-development/uploads-shortcut-home_feed_shortcut_sets-164656963446270570.png/512/none"
                    alt="" width="100px" height="100px">
                <span>오늘의딜</span>
            </div>
            <div>
                <img src="https://image.ohou.se/image/resize/bucketplace-v2-development/uploads-shortcut-home_feed_shortcut_sets-164903547389792694.png/512/none"
                    alt="" width="100px" height="100px">
                <span>첫구매혜택</span>
            </div>
            <div>
                <img src="https://image.ohou.se/image/resize/bucketplace-v2-development/uploads-shortcut-home_feed_shortcut_sets-164977589951591265.png/512/none"
                    alt="" width="100px" height="100px">
                <span>봄캉스특가</span>
            </div>
            <div>
                <img src="https://image.ohou.se/image/resize/bucketplace-v2-development/uploads-shortcut-home_feed_shortcut_sets-164963656833703488.png/512/none"
                    alt="" width="100px" height="100px">
                <span>향테리어</span>
            </div>
        </div>
    </section>
    <script src="./script/first-section.js"></script>
</body>

</html>