<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의집-회원정보수정</title>
    <link rel="stylesheet" href="./css/user_info.css">
    <link rel="stylesheet" href="./css/info_reset.css">
    <link rel="stylesheet" href="./css/main.css">
    <style>
        @media only screen and (max-width : 1400px) {
            .toggle-nav {
                display: none;
            }

            .first-section-title {
                font-size: 20px;
            }
        }

        @media only screen and (max-width : 1250px) {
            .header-content {
                display: none;
            }

            .first-section-title {
                font-size: 18px;
            }

        }

        @media only screen and (max-width : 992px) {
            .header-input {
                display: none;
            }
            .bottom {
                width: 100%;
                padding: 0;
                margin: 0;
                text-align: center;
                font-size: 10px;
                justify-content: space-around;
            } 
            

            .header-nav {
                display: none;
            }

            .header-logo {
                width: 100%;
                display: block;
                text-align: center;

            }

            #bottom-section-two a {
                font-size: 10px;
            }

            #bottom-section-two {
                padding: 0;
                margin: 0;
            }
        }
    </style>
</head>

<body>
    <header>
        <div class="header">
            <!--헤더 네비 위쪽 부분-->
            <div class="header-logo">
                <img src="./images/logo.png" alt="">
            </div>
            <nav class="header-nav">
                <span class="nav-color">커뮤니티</span>
                <span>스토어</span>
                <span>인테리어시공</span>
            </nav>
            <div class="header-input">
                <input type="text" placeholder="오늘의집 통합검색">
            </div>
            <div class="header-content">
                <span><i class="fa-solid fa-cart-shopping cart"></i></span>
                <a class="remove-deco" href="#">로그인</a>
                <span> | </span>
                <a class="remove-deco" href="#">회원가입</a>
                <span> | </span>
                <a class="remove-deco" href="#">고객센터</a>
            </div>
            <nav class="toggle-nav">
                <a class="remove-deco" style="color: white;" href="#">글쓰기 v</a>
            </nav>
        </div>

        <!--헤더 네비 아래쪽 부분-->
        <div class="header bottom">
            <a class="remove-deco" style="color: #35c5f0; border-bottom:2px solid #35c5f0;" href="">홈</a>
            <a class="remove-deco" href="">팔로잉</a>
            <a class="remove-deco" href="">사진</a>
            <a class="remove-deco" href="">집들이</a>
            <a class="remove-deco" href="">노하우</a>
            <a class="remove-deco" href="">전문가집들이</a>
            <a class="remove-deco" href="">셀프가이드</a>
            <a class="remove-deco" href="">질문과답변</a>
            <a class="remove-deco" href="">이벤트</a>
        </div>
    </header>

    <main>
        <nav>
            <ul class="nav_bar nav_bar_main">
                <li class="nav_item"><a href="#">프로필</a></li>
                <li class="nav_item"><a href="#">나의 쇼핑</a></li>
                <li class="nav_item"><a href="#">나의 리뷰</a></li>
                <li class="nav_item active"><a href="#">설정</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="nav_bar nav_bar_second">
                <li class="nav_item active"><a href="#">회원정보수정</a></li>
                <li class="nav_item"><a href="#">알림 설정</a></li>
                <li class="nav_item"><a href="#">사용자 숨기기 설정</a></li>
                <li class="nav_item"><a href="#">전문가 신청</a></li>
                <li class="nav_item"><a href="#">비밀번호 변경</a></li>
                <li class="nav_item"><a href="#">추천코드</a></li>
            </ul>
        </nav>

        <div class="info_wrap">
            <!-- Info Header -->
            <div class="info_head">
                <h2>회원정보수정</h2>
                <a href="">탈퇴하기</a>
            </div>

            <!-- Info Content -->
            <div class="info_content">
                <form action="" method="post" enctype="multipart/form-data">
                    <!-- User Email -->
                    <div class="info_item">
                        <div class="info_header">
                            <label for="user_email">이메일</label>
                            <p>* 필수항목</p>
                        </div>
                        <div class="info_items_form user_email_from">
                            <div class="user_email_form_container">
                                <input class="user_email" id="user_email" type="text" required>
                                <span>@</span>
                                <select class="email_select">
                                    <option value="">선택해주세요</option>
                                    <option value="naver.com">naver.com</option>
                                    <option value="nate.com">nate.com</option>
                                    <option value="hanmail.net">hanmail.net</option>
                                    <option value="gmail.com">gmail.com</option>
                                    <option value="yahoo.com">yahoo.com</option>
                                    <option value="yahoo.co.kr">yahoo.co.kr</option>
                                    <option value="hotmail.com">hotmail.com</option>
                                </select>
                            </div>


                            <p class="email_desc">이메일을 변경하시려면 운영자에게 이메일을 보내주세요.</p>
                        </div>
                    </div>

                    <!-- User Nickname -->
                    <div class="info_item">
                        <div class="info_header">
                            <label for="user_nickname">별명</label>
                            <p>* 필수항목</p>
                        </div>
                        <div class="info_items_form">
                            <input id="user_nickname" type="email">
                        </div>
                    </div>

                    <!-- User Homepage -->
                    <div class="info_item">
                        <div class="info_header">
                            <label for="user_homepage">홈페이지</label>
                        </div>
                        <div class="info_items_form">
                            <input id="user_homepage" type="text" placeholder="https://ohou.se">
                        </div>
                    </div>

                    <!-- User Gender -->
                    <div class="info_item">
                        <div class="info_header">
                            <label>성별</label>
                        </div>
                        <div class="user_gender">
                            <label for="user_man">
                                <input id="user_man" type="radio" name="user_gender" value="man" checked>
                                <div class="radio_img"></div>
                                남성
                            </label>
                            <label for="user_woman">
                                <input id="user_woman" type="radio" name="user_gender" value="woman">
                                <div class="radio_img"></div>
                                여성
                            </label>
                        </div>
                    </div>

                    <!-- User Birthday -->
                    <div class="info_item">
                        <div class="info_header">
                            <label for="user_birthday">생년월일</label>
                        </div>
                        <div class="info_items_form user_birthday">
                            <input id="user_birthday" type="date" value="1995-01-01">
                        </div>
                    </div>

                    <!-- User Profile -->
                    <div class="info_item">
                        <div class="info_header">
                            <label for="user_profile">프로필 이미지</label>
                        </div>
                        <div class="info_user_img">
                            <input class="user_profile" name="user_profile" id="user_profile" type="file"
                                accept="image/png, image/jpeg">
                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=640&h=640&c=c"
                                alt="">
                        </div>
                    </div>

                    <!-- User Introduce -->
                    <div class="info_item">
                        <div class="info_header">
                            <label for="">한줄 소개</label>
                        </div>
                        <div class="info_items_form">
                            <input type="text">
                        </div>
                    </div>

                    <!-- User Submit -->
                    <button class="user_info_submit" type="submit">회원 정보 수정</button>
                </form>
            </div>

        </div>



    </main>
</body>

</html>