<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.css" />
    <script
      src="https://kit.fontawesome.com/25b41d6433.js"
      crossorigin="anonymous"
    ></script>
    <title>예쁜템들 모여사는 오늘의집</title>
    <link rel="icon" href="./images/icon.png" type="image/icon type" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="header">
        <!--헤더 네비 위쪽 부분-->
        <div class="header-logo">
          <img src="./images/logo.png" alt="" />
        </div>
        <nav class="header-nav">
          <span class="nav-color">커뮤니티</span>
          <span>스토어</span>
          <span>인테리어시공</span>
        </nav>
        <div class="header-input">
          <input type="text" placeholder="오늘의집 통합검색" />
        </div>
        <div class="header-content">
          <span><i class="fa-solid fa-cart-shopping cart"></i></span>
          <a class="remove-deco" href="#">로그인</a>
          <span> | </span>
          <a class="remove-deco" href="#">회원가입</a>
          <span> | </span>
          <a class="remove-deco" href="#">고객센터</a>
        </div>
        <nav class="toggle-nav">
          <a class="remove-deco" style="color: white" href="#">글쓰기 v</a>
        </nav>
      </div>

      <!--헤더 네비 아래쪽 부분-->
      <div class="header bottom">
        <a
          class="remove-deco"
          style="color: #35c5f0; border-bottom: 2px solid #35c5f0"
          href=""
          >홈</a
        >
        <a class="remove-deco" href="">팔로잉</a>
        <a class="remove-deco" href="">사진</a>
        <a class="remove-deco" href="">집들이</a>
        <a class="remove-deco" href="">노하우</a>
        <a class="remove-deco" href="">전문가집들이</a>
        <a class="remove-deco" href="">셀프가이드</a>
        <a class="remove-deco" href="">질문과답변</a>
        <a class="remove-deco" href="">이벤트</a>
      </div>
    </header>
  </body>
</html>
