.center{
    justify-content: center;
    line-height: 70px;
}

.ch-header-bottom{
    font-size: 17px;
}
.ch-header-bottom a{
    padding-right: 40px;
}

#bottom-section-two{
    line-height: 60px;
}
#bottom-section-two a{
    padding-right: 30px;
    padding-left: 30px;
}

.ch-passwd-main{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ch-passwd-content{
    font-size: 14px;
    padding: 40px;
    text-align: left;
    width: 27%;
    height: 400px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}

.ch-passwd-content h3{
    font-size: 25px;
    margin-top: 10px;
}

.ch-passwd-content input{
    width: 100%;
    line-height: 40px;
    border-radius: 6px;
    margin-bottom: 20px;
    border: 1px solid #dbdbdb;
}

.ch-passwd-content input:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgb(130 224 250 / 50%);
}

.ch-btn {
    display: inline-block;
    background-color: #35c5f0;
    border-color: #35c5f0;
    color: #fff;
    padding: 11px 10px;
    font-size: 17px;
    line-height: 26px;
    width:102%;
    text-align: center;
    transition: color .1s,background-color .1s,border-color .1s;
    border-radius: 4px;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    border: none;
}


.ch-btn:hover{
    background-color: #3a9bb9;
}