@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body{
    line-height: 1;
    letter-spacing: -0.4px;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
header{
    box-sizing: border-box;
    position: relative;
}

.header{
    border-bottom: 1px solid #ededed;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    line-height: 70px;
}
.bottom{
    line-height: 40px;
    font-size: 15px;
    font-weight: 600;
}

.bottom a{
    padding-left: 10px;
    padding-right:10px;
    color : #424242
}
.header-logo{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 5px;
}
.header-logo img{
    width:100px;
    height:40px;
    transform: scale(0.8, 0.8);
}

.header-nav{
    padding-left: 40px;
    display: inline-block;
    font-size: 17.5px;
}
.nav-color{
    color: #35c5f0;
}

.header-nav span{
    padding-right: 20px;
    font-weight: 600;
}

.header-input{
    margin-left: 90px;
    display: inline-block;
}

.header-input input{
    width: 255px;
    height: 35px;
    opacity: .5;
}

.header-content{
    display: inline-block;
    font-size: 15px;
    color:#757575;
    padding-left: 20px;    
}
header-content {
    padding: 0px 50px;
}

.remove-deco{
    text-decoration: none;
    color:#757575;
}

.toggle-nav{
    display: inline-block;
    color: #fff;
    background: none;
    font-size: 16px;
    margin: 20px 0px 10px 30px;
    border: 1px solid #35c5f0;
    border-radius: 4px;
    background-color: #35c5f0;
    width: 100px;
    height: 40px;
    text-align: center;
    transition: background-color .1s;
}
.icon{
    margin-left: 10px;
    font-size: 12px;
}
.cart{
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 1em;
}

.cart:hover{
    background-color: #35c5f0;
    color: white;
}


.remove-deco:hover{
    color: #35c5f0;
}

.header-nav span:hover{
    color: #35c5f0;
}
