/* Navbar */
.nav_bar {
    border-bottom: 1px solid #ededed;
    width: 100%;
    font-weight: bold;
    height: 60px;
    line-height: 60px;

}

.nav_bar_main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;    
}

.nav_bar_main {
    font-size: 1.2rem;
}

.nav_bar_second {
    font-size: 1rem;
    text-align: center;
} 

.nav_bar_second li {
    display: inline-block;
}

.nav_item a {
    margin-left: 1.5em;
    transition: color .15s ease;
}

.nav_item:first-child a{
    margin-left: 0;
}

.nav_item a:hover {
    color: #35c5f0;
}

.nav_item:first-child a:active {
    color: #35c5f0;
}

/* Info content */
.info_wrap {
    max-width: 1136px;
    margin: 50px auto;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 0px;
    padding: 50px;
    width: calc(100% - 80px);
    box-sizing: border-box;
}

.info_head {
    display: flex;
    justify-content:space-between;
    margin-bottom: 60px;
}

.info_wrap h2 {
    font-size: 24px;
    font-weight: 700;
}


.info_head a {
    font-size: 14px;
    color: rgb(204, 204, 204);
    text-decoration: underline;
}

.info_item {
    display: flex;
}

.info_header {
    font-size: 15px;
    padding-top: 30px;
    width: 150px;
}

.info_header p {
    margin-top: 5px;
    font-size: 13px;
    color: rgb(117, 117, 117);
}

.info_items_form {
    padding: 20px 0;
    border-radius: 6px;
}

.info_items_form input {
    border-radius: 6px;
    height: 40px;
    width: 400px;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    transition: background-color .2s ease-in;
}

.info_items_form input:focus {
    outline: none;
    box-shadow: 0 0 0 rgb(130 224 250 / 50%);
}

.info_items_form input:hover {
    background-color: #f1f1f1;
    border: 1px solid #b7b5b5;
}

/* User Email */
.user_email_from {
    width: 432px;
}
.user_email_form_container {
    display: flex;
    flex-wrap: nowrap;
}

input.user_email {
    flex: 2 0 0;
}

.user_email_from span {
    flex: 0.3 1 0;
    text-align: center;
    line-height: 40px;
    color: #dbdbdb;
}

.email_select {
    flex: 2 1 0;
    appearance: none;
    border-radius: 6px;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    transition: background-color .2s ease-in;
}

.email_desc {
    margin-top: 10px;
    color: rgb(158, 158, 158);
    font-size: 13px;
    font-weight: 700;
}

.email_server {
    float: left;
}

/* User Gender */
.user_gender label {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    padding: 15px 5px;
    font-size: 15px;
}

.user_gender input {
    display: none;
}

.user_gender .radio_img {
    position: relative;
    box-sizing: border-box;
    height: 22px;
    width: 22px;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    margin-right: 10px;
    transition: .2s ease;
}

.user_gender .radio_img::after{
    content: "";
    box-sizing: border-box;
    display: block;
    transform: translate(-50%,-50%);
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 11px;
    transition: .2s ease;
    border: 6px solid #35c5f0;
    transform: scale(0);
}

.user_gender input:checked + .radio_img::after {
    transform: scale(1);
}

.user_birthday input[type="date"] {
    position: relative;
}


.user_birthday input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    opacity: 0;
}

/* User Profile */
.info_user_img {
    position: relative;
    margin-top: 29px;
    border-radius: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(216, 216, 216);
}

.info_user_img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.user_profile {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
}

.user_profile {
    position: absolute;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}

/* Submit Button */
.user_info_submit {
    border:none;
    margin: 50px 0 0 150px;
    width: 290px;
    padding: 11px 10px;
    font-size: 17px;
    font-weight: bold;
    line-height: 26px;
    background-color: #35c5f0;
    border-color: #35c5f0;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.user_info_submit:hover {
    background-color: #229abe;
}


/* Mobile Ver */
@media (max-width:765px){
    .nav_bar_main {
        font-size: 1rem;
    }

    .nav_bar_second {
        display: inline-block;
        overflow: scroll;
        font-size: 0.8rem;
        overflow: auto;
        white-space: nowrap;
    } 

    .nav_bar_second::-webkit-scrollbar{
        display: none; 
    }

    .nav_bar_second li:first-child {
        margin-left: 10px;
    }

    .nav_bar_second li:last-child {
        margin-right: 10px;
    }

    .info_header {
        max-width: 120px;
    }

    .info_wrap {
        box-shadow:none;
        padding: 80px 30px;
    }

    .info_items_form {
        width: 100%;
    }

    .info_items_form:not(.user_email_from) input {
        width: 100%;
        box-sizing: border-box;
    }

    input.user_email {
        width: 42%;
    }

    .email_select {
        width: 47%;
    }

    .user_info_submit {
        width: 100%;
        margin: 50px 0;
    }
}